@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgb(143, 171, 255) 100%, rgb(23, 23, 211) 35%, rgb(143, 171, 255) 100%);
    background: rgb(2,0,36);
}
    
    


/*le pied de page*/

.container{
    max-width: 1200px;
    margin: auto;/*la marge entre le footer et les article en haut*/
    padding: 10px;

}

.rowfooter{
    display: flex;
    flex-wrap: wrap;

}

ul{
    list-style: none;  
}

.footer {
    background-color: rgb(0, 4, 63);
    font-family: 'Poppins';
    line-height: 2;/*l'espace entre les liens de la liste*/
    margin-top: 250px;
}

.footer-col{
    width: 25%;
    padding: 0 15px;/*y-x*/
}

.footer-col h4{
    font-size: 29px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 25px;/*par rapport au liens*/
    font-weight: 400;
    position: relative;
}

.footer-col h4::before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(255, 255, 255);
    height : 2px;
    width : 42px;
}

.footer-col ul li a{
    font-size: 15px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight :400;
    display : block;   
}

.footer-col ul li a:hover{

    color: rgb(255, 255, 255);
    padding-left: 5px;
    font-weight : 600;
    transition: all 0.3s ease;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width:40px;
    background-color:rgb(255, 255, 255);
    margin: 0 10px 10px 5px;
    text-align: center;
    line-height: 40px;/*lespace entre le text et le top pour mieux centrer le text*/
    border-radius: 50%;
    color: #0d0179;
}

.footer-col .social-links a:hover{
    transition: all 0.5s ease;
    background-color:  rgb(0, 0, 0);
    color: #fff;
}

.div2{
    background-color:rgb(0, 4, 63);
    width: 100%;
    margin : auto;
    
}
.div2 p{
    text-align: center;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: 'Poppins' ;
}


/*Partie Responsive*/
@media (max-width: 768px){/*md*/
    .footer-col{
        width:50%;
        margin-bottom: 30px;
    }
    
    
}

@media (max-width: 574px){/*sm*/
    .footer-col{
        width:100%;
        margin-bottom: 30px;

    }
    .formulaire1{
        margin-top : 50%;
        }
}
@media (min-width: 574px){/*sm*/

    .formulaire1{
        margin-top : 20%;
        }
    


}






/*INSCRIPTION*/

#div-form{
	display:flex;
	justify-content:center;
    align-items:center;
	height: 100vh;

}
.formulaire,.formulaire1,.formulaire2{
	width: 500px;
	padding: 10px 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 15px  rgb(9, 9, 139);
	background-color: hsl(0, 0%, 100%)
}




#titreForm{
	text-align: center;
	color:  rgb(5, 13, 115);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2rem;

}

.div-formulaire{
	position:relative;
	min-height:45px;
	margin-bottom: 1.5rem;
    background-color: rgba(210, 225, 255, 0.842);
    border-radius: 0.6rem;
}

.inputs{
	position:absolute;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 1rem;
	outline:none;
	background: none;
	padding: 8px;
    border: none;
}

.inputs::placeholder{
	font-family: 'Poppins' ;
	color: rgb(2, 5, 151);
    padding: 0.4rem;
}

form button{
	padding: 15px 25px;
	border-radius: 5px;
	border:none;
	margin-bottom: 10px;
	font-size: 15px;
	color: rgb(10, 34, 134);
	font-weight: bold;
	background-color: #9ec5ff60;
	outline:none;
}

 form button:hover{
    background-color: rgb(17, 17, 157);
    color: #fff;
    transition:  0.25s ease-in-out;
}

html{
    scroll-behavior: smooth;
  }
  body{
  
    margin: 0;
    padding: 0;
  }
  section{
    width: 100%;
    /*height: 300vh;*/
    background-size: cover;
  }
  .gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: rgb(143, 171, 255);
    bottom: 40px;
    right: 50px;
    border-radius: 300px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: rgb(0, 0, 0);
    font-size: 22px;
  }